bin/
i3/.config/i3/config
nvim/.config/nvim/sessions/
nvim/.config/nvim/pack/
vim/.vim/tmp/
zsh/.zsh/.zsh_history
fishd.*
**/.zcompdump
local.fish
**/.netrwhist

emacs/.emacs.d/elpa/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eshell/
emacs/.emacs.d/url/
emacs/.emacs.d/ido.last
emacs/.emacs.d/configuration.el
emacs/.emacs.d/tramp
emacs/.emacs.d/custom.el
emacs/.emacs.d/session*
emacs/.emacs.d/recentf
emacs/.emacs.d/auctex-auto/

fonts/.local/share/fonts/*/.uuid
fonts/.local/share/fonts/.uuid
