/* -*- mode: css; -*- */
configuration {
	modi: "run,window,drun";
	width: 32;
	lines: 5;
	columns: 1;
	font: "Fira Mono 10";
	bw: 0;
	padding: 5;
	show-icons: true;
	run-command: "fish -c '{cmd}'";
	run-list-command: "'fish -c functions'";
	eh: 1;
	separator-style: "solid";
	hide-scrollbar: true;
	theme: "solarized_alternate";
}
